
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Doação</title>
    </head>

    <body>
        <div class="conteudo">
        <header>
            <h1>ONG de Animais</h1>
            <hr>
        </header>

        {% if permissao %}
        <nav>
            <p><a href="../">Home Page</a></p>
            <p><a href="animal">Animais</a></p>
            <p><a href="veterinario">Veterinários</a></p>
            <p><a href="doacao" class="current">Doações</a></p>
        </nav>
        <div class="menu">
            <a href="logout">Logout</a> 
        </div>
        <h2>Doação</h2>
        <div class="menu">
            <a href="listagem">Listagem</a>  |
            <a href="{% url 'polls:cadastro_doacao' %}">Cadastro</a>  |
            <a href="{% url 'polls:edicao_doacao' %}">Edição</a>  |
            <a href="{% url 'polls:remocao_doacao' %}" class="current">Remoção</a>  
        </div>

        <br/>
        <form action="{% url 'polls:remove_doacao' %}" method="POST">
            {% csrf_token %} <!-- security seasons, dont ask Cross site request foreign-->
            <label>Remover:</label>
            <select name="doacao_selected">
            {% for choice in doacao %}
                    <option value="{{choice.pk}}">{{choice}}</option>            
            {% endfor %}
            </select>
            
            
            <input type="submit" value="Remover" /> 
        </form> 
        {% else %}
            Você precisa fazer <a href='login'>login</a> antes de visualizar este conteúdo.
        {% endif %} 
        </div>  
    </body>
</html>